.contentMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  z-index: 1;

  @media all and (min-width: 1200px) {
    flex-direction: row;
  }
}

.contentIconMenu {
  background-color: #00555a;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    width: 80px;
    height: 80px;
  }

  @media all and (min-width: 1200px) {
    display: none;
  }
}

.iconMenu {
  width: 50px;
  height: 50px;
  cursor: pointer;

  @media all and (min-width: 768px) {
    width: 70px;
    height: 70px;
  }
}

.navDesktop {
  display: flex;
  flex-direction: column;
  background-color: #00555a;
  font-size: 18px;
  text-align: center;
  width: 160px;

  @media all and (min-width: 768px) {
    width: 220px;
    font-size: 22px;
  }

  @media all and (min-width: 1200px) {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }
}

.listMenu {
  cursor: pointer;
  padding: 12px;
  border: 1px solid white;
  transition: ease-in-out 0.5s;
  color: #ffc8df;

  @media all and (min-width: 768px) {
    padding: 18px;
  }

  @media all and (min-width: 1200px) {
    border: 0px;
    padding: 20px;

    &:hover{
      color: white;
      background-color: #017b81;
      border-radius: 10px;
    }
  }

}

.hidden {
  display: none;

  @media all and (min-width: 1200px) {
    display: flex;
  }
}

