.contentMenu{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.contentIconMenu {
  background-color: #00555a;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (min-width:768px){
    width: 80px;
    height: 80px;
  }
}

.iconMenu {
  width: 50px;
  height: 50px;
  cursor: pointer;

  @media all and (min-width:768px){
    width: 70px;
    height: 70px;
  }
}


.navDesktop {
    display: flex;
    flex-direction: column;
    background-color: #00555a;
    color: white;
    font-size: 14px;
    width: 140px;

    @media all and (min-width:768px){
      width: 180px;
      font-size: 18px;
    }

}

.listMenu {
  padding: 10px;
  border-top: 1px solid white;
}

.hidden {
  display: none;
} 